[user]
    name =
    email =
[alias]
    di = diff
    st = status -s
    ci = commit -v
    co = checkout
    br = branch
    prune-all = !git remote | xargs -n 1 git remote prune
    record = !git add -p && git ci
    amend-record = !git add -p && git ci --amend
    stoat = !toilet -f future STOATS
    update-master = !git checkout master && git pull -r
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[core]
    autocrlf = false
    editor = nano
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore_global
